In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

Handling Null value
'NAN' will be assign by median vaue of its column

In [3]:
import math
median_bedrooms = df['bedrooms'].median()
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

assign independent variable to x and dependent variable to y

In [0]:
x = df[['area','bedrooms','age']].values
y = df['price'].values

create multivariate regression model

In [5]:
regmod = linear_model.LinearRegression()
regmod.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

also we can check coeficient and intercept from our model like below

In [6]:
regmod.intercept_

221323.00186540396

In [7]:
regmod.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

we can use the model to predict the price house using 3 independent variable

In [8]:
regmod.predict([[2300,5,30]])

array([499059.48146302])